map $http_host $subdomain {
    ~^(?<subdomain>[a-zA-Z0-9-]+)\.${DOMAIN}\.${ZONE}${DOLLAR} $subdomain;
}

server {
    listen 80;
    server_name ~^(?<subdomain>[a-zA-Z0-9-]+)\.${DOMAIN}\.${ZONE}${DOLLAR};

    location / {
        proxy_set_header X-Subdomain $subdomain;
        proxy_pass http://${SERVER}:${SERVER_PORT};
    }
}

server {
    listen 80;
    server_name ${DOMAIN}.${ZONE};

    location / {
        proxy_pass http://${SERVER}:${SERVER_PORT};
    }
}
