server {
    listen 80;
    server_name ~^(?<subdomain>\w*)\.${DOMAIN}.${ZONE}${DOLLAR};

    location / {
        # Always set the X-subdomain header with the value from the subdomain in the URL
        proxy_set_header x-subdomain $subdomain;
        proxy_pass http://${SERVER}:${SERVER_PORT}/;
    }
}
